<footer>
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-logo-container"></div>
      <div class="footer-nav-container">

        <div class="nav-group">
          <p>Компанія</p>
          <ul class="nav-group-items">
            <li class="nav-group-item"> <a href="#">Головна</a></li>
            <li class="nav-group-item"> <a href="#">Проекти</a></li>
            <li class="nav-group-item"> <a href="#">Контакти</a></li>
          </ul>
        </div>

        <div class="nav-group">
          <p>Дерев'яні будинки</p>
          <ul class="nav-group-items">
            <li class="nav-group-item"> <a href="#">З профільного бруса</a></li>
            <li class="nav-group-item"> <a href="#">З оциліндрованого бруса</a></li>
            <li class="nav-group-item"> <a href="#">З клеєного бруса</a></li>
            <li class="nav-group-item"> <a href="#">З дикого бруса</a></li>
          </ul>
        </div>

        <div class="nav-group">
          <p>Продукція</p>
          <ul class="nav-group-items">
            <li class="nav-group-item"> <a href="#">Альтанки</a></li>
            <li class="nav-group-item"> <a href="#">Двері</a></li>
            <li class="nav-group-item"> <a href="#">Євровікна</a></li>
            <li class="nav-group-item"> <a href="#">Дитячі майданчики</a></li>
            <li class="nav-group-item"> <a href="#">Пиломатеріали</a></li>
          </ul>
        </div>

        <div class="nav-group">
          <p>Контакти</p>
          <ul class="nav-group-items">
            <li class="nav-group-item"> <a href="#">Альтанки</a></li>
            <li class="nav-group-item"> <a href="#">Двері</a></li>
            <li class="nav-group-item"> <a href="#">Євровікна</a></li>
            <li class="nav-group-item"> <a href="#">Дитячі майданчики</a></li>
            <li class="nav-group-item"> <a href="#">Пиломатеріали</a></li>
          </ul>
        </div>



      </div>
    </div>
    <div class="footer-bottom">
      <p>
        © 2015-2017 Терком, всі права захищенні
      </p>
    </div>
  </div>
</footer>