<footer>
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-top-container">
        <div class="footer-logo-container">
          <a href="#">
            <div class="footer-logo">
              <img class="logo-img" src="/imports/img/logo-small.jpg" alt="Logo og Tercom company">
            </div>
            <h1>Терком</h1>
          </a>

        </div>
        <div class="footer-nav-container">

          <div class="nav-group">
            <p class="nav-head">Компанія</p>
            <ul class="nav-group-items">
              <li class="nav-group-item"> <a href="/">Головна</a></li>
              <li class="nav-group-item"> <a href="/projects/">Проекти</a></li>
              <li class="nav-group-item"> <a href="/awards/">Нагороди</a></li>
              <li class="nav-group-item"> <a href="/contacts/">Контакти</a></li>
            </ul>
          </div>

          <div class="nav-group">
            <p class="nav-head">Дерев'яні будинки</p>
            <ul class="nav-group-items">
              <li class="nav-group-item"> <a href="/wooden_houses/profiled_timber/">З профільного бруса</a></li>
              <li class="nav-group-item"> <a href="/wooden_houses/rounded_timber/">З оциліндрованого бруса</a></li>
              <li class="nav-group-item"> <a href="/wooden_houses/laminated_timber/">З клеєного бруса</a></li>
              <li class="nav-group-item"> <a href="/wooden_houses/wild_timber/">З дикого бруса</a></li>
            </ul>
          </div>

          <div class="nav-group">
            <p class="nav-head">Продукція</p>
            <ul class="nav-group-items">
              <li class="nav-group-item"> <a href="#">Альтанки</a></li>
              <li class="nav-group-item"> <a href="#">Двері</a></li>
              <li class="nav-group-item"> <a href="#">Євровікна</a></li>
              <li class="nav-group-item"> <a href="#">Дитячі майданчики</a></li>
              <li class="nav-group-item"> <a href="#">Пиломатеріали</a></li>
            </ul>
          </div>

          <div class="nav-group contact">
            <p class="nav-head ">Контакти</p>
            <div class="footer-contact-container">
              <ul class="nav-group-items">
                <li class="contact-group-item">Україна, 46016 </li>
                <li class="contact-group-item">м. Тернопіль </li>
                <li class="contact-group-item">вул. Поліська, 11</li>
                <li class="contact-group-item-delimiter"></li>
                <li class="contact-group-item">
                  <span class="fa fa-at"></span>
                  tercom-7@mail.ru
                </li>
              </ul>
              <ul class="nav-group-items">
                <li class="contact-group-item">
                  <span class="fa fa-volume-control-phone"></span>
                  +38 (0352) 43-39-47
                </li>
                <li class="contact-group-item">
                  <span class="fa fa-fax"></span>
                  +38 (0352) 43-39-46
                </li>
                <li class="contact-group-item">
                  <span class="fa fa-mobile"></span>
                  +38 067 354 27 02
                </li>
                <li class="contact-group-item">
                  <span class="fa fa-mobile"></span>
                  +38 097 909 73 88
                </li>
                <li class="contact-group-item">
                  <div class="socials">
                    <a href="https://vk.com/vktercomua" target="_blank"><span class="fa fa-facebook-official"></span></a>
                    <a href="https://vk.com/vktercomua" target="_blank"><span class="fa fa-vk"></span></a>
                    <a href="https://vk.com/vktercomua" target="_blank"><span class="fa fa-google-plus"></span></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>
        © 2015-2017 Терком, всі права захищені
      </p>
      <div class="jss-label">
        Розроблено в
        <a class="link-decarated" href="https://jssolutionsdev.com/" target="_blank">
          <img src="/imports/img/jss-logo.ico" alt="Small logo of JSSolutions">
          JSSolutions
        </a>
      </div>
    </div>
  </div>
</footer>