<header class="page-header">
  <div class="company-logo">
    <div class="logo-text">
      <p>Група компаній</p>
      <h1>Терком</h1>
    </div>
    <div class="logo-img-container">
      <img class="logo-img" src="/imports/img/logo-small.jpg" alt="Logo og Tercom company">
    </div>
  </div>
  <div class="menu">
    <ul class="nav-items">
      <!-- Головна -->
      <li class="nav-item">
        <a href="/" class="nav-item-label">Головна</a>
      </li>

      <!-- Будинки з дерева -->
      <li class="nav-item">
        <a class="nav-item-label">Дерев'яні будинки</a>
        <div class="nav-item-block">
          <div class="row no-padding no-margin">
            <div class="col-sm-6 no-padding no-margin">
              <a href="/houses/profiled_timber/">
                <div class="sub-item-container">
                  <img class="sub-item-img" src="/imports/img/menu/houses/house_profil_brus.jpg"/>
                  <div class="sub-item-desc">
                    <h4>Будинок з профільного бруса</h4>
                    <p> Невеличкий опис про даний пункт меню кілька слів</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-6 no-padding no-margin">
              <a href="/houses/rounded_timber/">
                <div class="sub-item-container">
                  <img class="sub-item-img" src="/imports/img/menu/houses/house_otsulindr_brus.jpg"/>
                  <div class="sub-item-desc">
                    <h4>Будинок з оциліндрованого бруса</h4>
                    <p> Невеличкий опис про даний пункт меню кілька слів</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row no-padding no-margin">
            <div class="col-sm-6 no-padding no-margin">
              <a href="/houses/laminated_timber/">
                <div class="sub-item-container">
                  <img class="sub-item-img" src="/imports/img/menu/houses/house_klej_brus.jpg"/>
                  <div class="sub-item-desc">
                    <h4>Будинок з клеєного бруса</h4>
                    <p> Невеличкий опис про даний пункт меню кілька слів</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-6 no-padding no-margin">
              <a href="/houses/wild_timber/">
                <div class="sub-item-container">
                  <img class="sub-item-img" src="/imports/img/menu/houses/house_wild_brus.jpg"/>
                  <div class="sub-item-desc">
                    <h4>Будинок з дикого бруса</h4>
                    <p> Невеличкий опис про даний пункт меню кілька слів</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </li>

      <!--продукція -->
      <li class="nav-item">
        <a class="nav-item-label">Продукція</a>
        <div class="nav-item-block">
          <div class="row no-padding no-margin">
            <div class="col-sm-6 no-padding no-margin">
              <a href="#">
                <div class="sub-item-container">
                  <img class="sub-item-img" src="/imports/img/menu/products/window.jpg"/>
                  <div class="sub-item-desc">
                    <h4>Альтанки</h4>
                    <p> Невеличкий опис про даний пункт меню кілька слів</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-6 no-padding no-margin">
              <a href="#">
                <div class="sub-item-container">
                  <img class="sub-item-img" src="/imports/img/menu/products/window.jpg"/>
                  <div class="sub-item-desc">
                    <h4>Дитячі майданчики</h4>
                    <p> Невеличкий опис про даний пункт меню кілька слів</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row no-padding no-margin">
            <div class="col-sm-6 no-padding no-margin">
              <a href="#">
                <div class="sub-item-container">
                  <img class="sub-item-img" src="/imports/img/menu/products/window.jpg"/>
                  <div class="sub-item-desc">
                    <h4>Двері</h4>
                    <p> Невеличкий опис про даний пункт меню кілька слів</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-6 no-padding no-margin">
              <a href="#">
                <div class="sub-item-container">
                  <img class="sub-item-img" src="/imports/img/menu/products/window.jpg"/>
                  <div class="sub-item-desc">
                    <h4>Євровікна</h4>
                    <p> Невеличкий опис про даний пункт меню кілька слів</p>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="row no-padding no-margin">
            <div class="col-sm-6 no-padding no-margin">
              <a href="#">
                <div class="sub-item-container">
                  <img class="sub-item-img" src="/imports/img/menu/products/window.jpg"/>
                  <div class="sub-item-desc">
                    <h4>Пиломатеріали</h4>
                    <p> Невеличкий опис про даний пункт меню кілька слів</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-6 no-padding no-margin">
            </div>
          </div>

        </div>
      </li>

      <!--проекти -->
      <li class="nav-item">
        <a class="nav-item-label">Проекти</a>
        <div class="nav-item-block">
          <div class="row no-padding no-margin">
            <div class="col-sm-6 no-padding no-margin">
              <a href="#">
                <div class="sub-item-container">
                  <img class="sub-item-img" src="/imports/img/menu/projects/nutishun.jpg"/>
                  <div class="sub-item-desc">
                    <h4>Проект 1</h4>
                    <p> Невеличкий опис про даний пункт меню кілька слів</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-6 no-padding no-margin">
              <a href="#">
                <div class="sub-item-container">
                  <img class="sub-item-img" src="/imports/img/menu/projects/nutishun.jpg"/>
                  <div class="sub-item-desc">
                    <h4>Проект 2</h4>
                    <p> Невеличкий опис про даний пункт меню кілька слів</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row no-padding no-margin">
            <div class="col-sm-6 no-padding no-margin">
              <a href="#">
                <div class="sub-item-container">
                  <img class="sub-item-img" src="/imports/img/menu/projects/nutishun.jpg"/>
                  <div class="sub-item-desc">
                    <h4>Проект 3</h4>
                    <p> Невеличкий опис про даний пункт меню кілька слів</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-6 no-padding no-margin">
              <a href="#">
                <div class="sub-item-container">
                  <img class="sub-item-img" src="/imports/img/menu/projects/nutishun.jpg"/>
                  <div class="sub-item-desc">
                    <h4>Проект 4</h4>
                    <p> Невеличкий опис про даний пункт меню кілька слів</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </li>

      <!--винагороди -->
      <li class="nav-item">
        <a class="nav-item-label">Винагороди</a>
      </li>

      <!--контакти -->
      <li class="nav-item">
        <a class="nav-item-label">Контакти</a>
      </li>
    </ul>

    <div class="language-selector">
      <a href="#">
        <p class="selected">UK</p>
      </a>
      <hr>
      <a href="#">
        <p>EN</p>
      </a>
    </div>
  </div>


</header>