<div class="block-container {{#if section.isEven }}container-dark{{/if}} 4 ">
	<div class="container page-block page-block-middle">
		<h3 class="text-center section-title no-margin">{{section.headTitle}}</h3>
		<hr class="head-text-delimiter">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<a class="fancybox" href="{{section.img}}" rel="{{section.galleryPath}}">
					<img class="width-100-per rounded-15" src="{{section.img}}"/>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="arches">
					{{{ gallery_2 "col-sm-6 col-xs-3" "squeezing" section.galleryPath section.nImgs }}}
				</div>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-12">
				{{> common/load_pdf_btn pdf=section.pdf}}
				{{> common/contact_us_btn contactUsBtn}}
			</div>
		</div>
		<p class="text-justify"><strong>{{section.title}}</strong>{{section.text}}</p>
	</div>
</div>
