<div class="block-container container-dark">
	<div class="page-block page-block-middle">
		<h3 class="text-center no-margin">Арки</h3>
		<hr class="head-text-delimiter">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<a class="fancybox" href="/imports/img/landing/services/garden_houses/gallery/01.jpg" rel="/imports/img/garden_houses/arches/">
					<img class="width-100-per rounded-15" src="/imports/img/landing/services/garden_houses/gallery/01.jpg"/>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-4">
				<div class="row">
					<div class="col-xs-6">
						<a class="fancybox" href="/imports/img/garden_houses/arches/01.jpg" rel="/imports/img/garden_houses/arches/">
							<img class="width-100-per" src="/imports/img/garden_houses/arches/01.jpg">
						</a>
					</div>
					<div class="col-xs-6">
						<a class="fancybox" href="/imports/img/garden_houses/arches/02.jpg" rel="/imports/img/garden_houses/arches/">
							<img class="width-100-per" src="/imports/img/garden_houses/arches/02.jpg">
						</a>
					</div>
					<div class="col-xs-6">
						<a class="fancybox" href="/imports/img/garden_houses/arches/03.jpg" rel="/imports/img/garden_houses/arches/">
							<img class="width-100-per" src="/imports/img/garden_houses/arches/01.jpg">
						</a>
					</div>
					<div class="col-xs-6">
						<a class="fancybox" href="/imports/img/garden_houses/arches/04.jpg" rel="/imports/img/garden_houses/arches/">
							<img class="width-100-per" src="/imports/img/garden_houses/arches/02.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<a class="pdf-btn" href="/imports/files/garden_houses.pdf" target="_blank">
					<img class="pdf-logo" src="/imports/img/logo-pdf.png">
				</a>
				<a href="#" class="btn-details call-us-btn">Зв'язатися з нами &#9742</a>
			</div>
		</div>
		<p class="text-justify"><strong>Альтанки.</strong> Садові дерев'яні альтанки - ідеальне місце для відпочинку на ділянці. Витончена альтанка ажурно-рейкової конструкції, увита трояндами, стане улюбленим куточком для всіх, хто любить романтичне або філософське усамітнення. Альтанка з оциліндрованної колоди - прекрасний варіант для любителів барбекю і галасливих веселощів в дружній компанії. Дерев'яна альтанка у вигляді пагоди стане перлиною саду, облаштованою у східному стилі. Садова альтанка з дерева може обійтися без фундаменту, якщо поставити її на цементні блоки, а це значить, що її можна встановити де завгодно без остраху пошкодити кореневу систему рослин в саду.</p>
	</div>
</div>
