<div class="block-container">
	<div class="page-block page-block-middle">
		<h3 class="text-center no-margin">Альтанки та малі архетиктурні форми</h3>
		<hr class="head-text-delimiter">
		<p class="text-center">Малі архітектурні форми - це чудова прикраса для вашого саду, яка радує око і налаштовує на спокійний відпочинок.<br/>
			Які ж малі архітектурні форми можна створити з дерева?
		</p>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<a class="fancybox" href="/imports/img/landing/services/garden_houses/gallery/02.jpg" rel="/imports/img/garden_houses/">
					<img class="width-100-per rounded-15" src="/imports/img/landing/services/garden_houses/gallery/02.jpg"/>
				</a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="garden-gallery">
					{{{ gallery "col-xs-4" "/imports/img/garden_houses/" 3 }}}
				</div>
				<div class="row">
					<div class="col-sm-8">
						<a class="fancybox" href="/imports/img/garden_houses/draft.jpg" rel="/imports/img/garden_houses/">
							<img class="width-100-per" src="/imports/img/garden_houses/draft.jpg">
						</a>
					</div>
					<div class="col-sm-4">
						<a class="pdf-btn" href="/imports/files/garden_houses.pdf" target="_blank">
							<img class="pdf-logo" src="/imports/img/logo-pdf.png">
						</a>
						<a href="#" class="btn-details call-us-btn">Зв'язатися з нами &#9742</a>
					</div>
				</div>
			</div>
		</div>
		<!--<p class="text-justify text-default">ТзОВ„Терком” виготовляє сучасні євровікна з клеєного бруса на новітньому деревообробному обладнанні і пропонує своїм замовникам широкий вибір екологічно чистих виробів з натурального дерева. Продукція нашої компанії відповідає найвищим вимогам.</p>-->
	</div>
</div>
<div class="block-container container-dark">
	<div class="page-block page-block-middle">
		<h3 class="text-center no-margin">Section</h3>
		<hr class="head-text-delimiter">
		{{{ gallery null "/imports/img/landing/services/eurowindows/gallery/" 6 }}}
	</div>
</div>
