<!-- todo reusable templates for sections -->
<div class="block-container">
	<div class="page-block page-block-middle">
		<h3 class="text-center no-margin">Альтанки та малі архетиктурні форми</h3>
		<hr class="head-text-delimiter">
		<p class="text-center">Малі архітектурні форми - це чудова прикраса для вашого саду, яка радує око і налаштовує на спокійний відпочинок.<br/>
			Які ж малі архітектурні форми можна створити з дерева?
		</p>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<a class="fancybox" href="/imports/img/landing/services/garden_houses/gallery/02.jpg" rel="/imports/img/garden_houses/main/">
					<img class="width-100-per rounded-15" src="/imports/img/landing/services/garden_houses/gallery/02.jpg"/>
				</a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="garden-gallery">
					{{{ gallery "col-xs-4" "squeezing" "/imports/img/garden_houses/main/" 3 }}}
				</div>
				<div class="row">
					<div class="col-sm-8">
						<a class="fancybox" href="/imports/img/garden_houses/main/draft.jpg" rel="/imports/img/garden_houses/main/">
							<img class="width-100-per" src="/imports/img/garden_houses/main/draft.jpg">
						</a>
					</div>
					<div class="col-sm-4">
						<a class="pdf-btn" href="/imports/files/garden_houses.pdf" target="_blank">
							<img class="pdf-logo" src="/imports/img/logo-pdf.png">
						</a>
						<a href="#" class="btn-details call-us-btn">Зв'язатися з нами &#9742</a>
					</div>
				</div>
			</div>
		</div>
		<p class="text-justify"><strong>Альтанки.</strong> Садові дерев'яні альтанки - ідеальне місце для відпочинку на ділянці. Витончена альтанка ажурно-рейкової конструкції, увита трояндами, стане улюбленим куточком для всіх, хто любить романтичне або філософське усамітнення. Альтанка з оциліндрованної колоди - прекрасний варіант для любителів барбекю і галасливих веселощів в дружній компанії. Дерев'яна альтанка у вигляді пагоди стане перлиною саду, облаштованою у східному стилі. Садова альтанка з дерева може обійтися без фундаменту, якщо поставити її на цементні блоки, а це значить, що її можна встановити де завгодно без остраху пошкодити кореневу систему рослин в саду.</p>
	</div>
</div>
