<!-- todo reusable templates for sections -->
<div class="block-container">
	<div class="page-block page-block-middle">
		<h3 class="text-center no-margin">Паркова</h3>
		<hr class="head-text-delimiter">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<a
					class="fancybox"
					href="/imports/img/landing/services/garden_houses/gallery/05.jpg"
					rel="/imports/img/garden_houses/park/gallery/">
						<img class="width-100-per rounded-15" src="/imports/img/landing/services/garden_houses/gallery/05.jpg"/>
				</a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="garden-gallery">
					{{{ gallery "col-xs-4" "squeezing" "/imports/img/garden_houses/park/gallery/" 3 }}}
				</div>
				<div class="row">
					<div class="col-xs-4">
						<a
							class="fancybox"
							href="/imports/img/garden_houses/park/gallery/04.png"
							rel="/imports/img/garden_houses/park/gallery/">
								<img class="width-100-per" src="/imports/img/garden_houses/park/gallery/04.jpg">
						</a>
					</div>
					<div class="col-xs-4">
						<a
							class="fancybox"
							href="/imports/img/garden_houses/park/gallery/05.png"
							rel="/imports/img/garden_houses/park/gallery/">
								<img class="width-100-per" src="/imports/img/garden_houses/park/gallery/05.jpg">
						</a>
					</div>
					<div class="col-xs-4">
						<a class="pdf-btn" href="/imports/files/park.pdf" target="_blank">
							<img class="pdf-logo" src="/imports/img/logo-pdf.png">
						</a>
						<a href="#" class="btn-details call-us-btn">Зв'язатися з нами &#9742</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
