<!-- todo reusable templates for sections -->
<div class="block-container">
	<div class="page-block page-block-middle">
		<h3 class="text-center no-margin">{{section.headTitle}}</h3>
		<hr class="head-text-delimiter">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<a class="fancybox"	href="{{section.img}}" rel="{{section.galleryPath}}">
					<img class="width-100-per rounded-15" src="{{section.img}}"/>
				</a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="garden-gallery">
					{{{ gallery "col-xs-4" "squeezing" section.galleryPath section.nImgs }}}
				</div>
				<div class="row">
					{{#each section.imgs}}
						<div class="col-xs-4">
							<a class="fancybox"	href="{{this}}"	rel="{{../section.galleryPath}}">
								<img class="width-100-per" src="{{this}}">
							</a>
						</div>
					{{/each}}
					<div class="col-xs-4">
						{{> common/load_pdf_btn pdf=section.pdf}}
						{{> common/contact_us_btn contactUsBtn}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
