<!-- todo reusable templates for sections -->
<div class="block-container">
	<div class="page-block page-block-middle">
		<h3 class="text-center no-margin">Альтанка з каміном</h3>
		<hr class="head-text-delimiter">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<a class="fancybox" href="/imports/img/landing/services/garden_houses/gallery/06.jpg" rel="/imports/img/garden_houses/with_fireplace/">
					<img class="width-100-per rounded-15" src="/imports/img/landing/services/garden_houses/gallery/06.jpg"/>
				</a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="garden-gallery">
					{{{ gallery "col-xs-4" "squeezing" "/imports/img/garden_houses/with_fireplace/" 3 }}}
				</div>
				<div class="row">
					<div class="col-sm-8">
						<a
							class="fancybox"
							href="/imports/img/garden_houses/with_fireplace/draft.jpg"
							rel="/imports/img/garden_houses/with_fireplace/"
						>
							<img class="width-100-per" src="/imports/img/garden_houses/with_fireplace/draft.jpg">
						</a>
					</div>
					<div class="col-sm-4">
						<a class="pdf-btn" href="/imports/img/garden_houses/with_fireplace/draft.jpg" target="_blank">
							<img class="pdf-logo" src="/imports/img/logo-pdf.png">
						</a>
						<a href="#" class="btn-details call-us-btn">Зв'язатися з нами &#9742</a>
					</div>
				</div>
			</div>
		</div>
		<p class="text-justify"><strong>Альтанка з каміном</strong> у дворі власного будинку або дачі – прекрасне місце для того, щоб насолодитися природою і спілкуванням з близькими. Вона захистить від палючого літнього сонця, дощу, докучливих комах, додасть затишку і привабливості вашій ділянці. А якщо альтанку з каміном обладнати ще й мангалом або барбекю, то можна порадувати близьких ще й смачними стравами на свіжому повітрі. З використанням сучасних матеріалів і технологій цілком можливо спроектувати і побудувати альтанку з каміном на будь-який смак і гаманець.</p>
	</div>
</div>
