<div class="block-container">
	<div class="page-block page-block-middle">
		<div class="row">
			<img class="service-big-img service-img-left rounded-15" src="/imports/img/lumber/rounded.jpg"/>
			<p class="text-justify"><strong>Оциліндрований брус.</strong> Оциліндрована колода з сосни , або модрини виготовляється на спеціальних токарно-фрезерних верстатах що надають брусу циліндричну форму. Розміри колоди діаметрами: 160, 180, 200, 220, 240 мм і стандартною довжиною 3, 4, 6 метрів. У процесі виробництва передбачений пропил укладального паза, а також проводиться обробка колоди антисептиками. Оциліндровані колоди виробляємо з традиційним "місячним" пазом для складання стін. Принцип роботи верстата забезпечує мінімальне відхилення в розмірах. За рахунок високих швидкостей фрезерування досягається висока якість обробки поверхні оциліндрованої колоди, а додаткове шліфування мінімальне. Найчастіше використовується в будівництві зрубів лазні, але добре підходить і для житлового будинку.</p>
		</div>
	</div>
</div>