<div class="block-container">
	<div class="page-block page-block-middle">
		<h3 class="text-center no-margin">Пиломатеріали</h3>
		<hr class="head-text-delimiter"/>
		<div class="row">
			<img class="service-big-img service-img-left rounded-15" src="/imports/img/lumber/lumber.jpg"/>
			<p class="text-justify"><strong>Брус профільований масив,</strong> перетин бруса 120/200 мм. При його виготовленні звичайному прямокутному брусу надається строго певна стандартна форма (профіль). Поверхні профільованого бруса стругають по першому класу. Будинок з бруса профільованого відразу після зведення має гідний зовнішній вигляд і не вимагає додаткової обробки. Не можна забувати, що профільований брус - це об'ємний матеріал. Просушити його до мінімального стану усадки і деформації досить складно.</p>
		</div>
	</div>
</div>