<div class="block-container container-dark">
	<div class="page-block page-block-middle">
		<div class="row">
			<img class="service-big-img service-img-right rounded-15" src="/imports/img/lumber/wild_timber.jpg"/>
			<p class="text-justify"><strong>Дикий брус.</strong> Під якісним деревом зазвичай розуміють, перш за все, дерево грамотно оброблене. Адже здавна дерево обробляли вручну, і саме тоді підхід був ретельним і індивідуальним. Для виробництва струганої колоди береться добірний, калібрований ліс, потім з колоди знімають кору, дають підсохнути, а після стругають вручну. Дикий брус має різну природну округлість та натуральну кривизну та конусність по довжині.Тому кожен брус різний, не взаємозамінний і ретельно, індивідуально підганяється одна до одної кожна пара колод. Коли колоди готові з них рубають зруб, Зруби з струганої колоди мають особливий, своєрідний зовнішній вигляд, так як колоди мають різний діаметр і при складання чергуються. Про якість та престиж ручної роботи говорити не доводиться.</p>
		</div>
	</div>
</div>