<div class="block-container">
	<div class="page-block page-block-middle">
		<div class="row">
			<img class="service-big-img service-img-left rounded-15" src="/imports/img/lumber/window_beams.jpg"/>
			<p class="text-justify"><strong>Віконний клеєний брус</strong> - сучасний екологічно чистий матеріал для виробництва віконних блоків. Виготовляється з пиломатеріалу хвойних порід деревини. Матеріал забезпечує стабільні геометричні параметри, що вкрай важливо для виготовлення і експлуатації вікон. Варто зазначити, що віконний клеєний брус дозволяє формувати з якісних короткомерних пиломатеріалів заготовки будь-яких розмірів.</p>
			<p class="text-justify">Брус склеюється з трьох шарів, що захищає дерев'яне вікно від деформації і гасить що виникають всередині профілю напруги. При склеюванні в єдиний брус напрям деревних волокон (річних кілець) в ламелях задається в протилежні один від одного боку, тому клеєний брус виявляється міцнішим в порівняння зі звичайним. Зрощення деревини по довжині на мікрошип робить матеріал однорідним за своєю структурою, виключає можливість викривлення і розтріскування з часом. При зміні вологості навколишнього середовища брус не змінює своєї форми, підвищуються його звукоізолюючі властивості.</p>
		</div>
	</div>
</div>