.bx-wrapper {
  padding-bottom: 30px;
}

.slider-item-wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.right-panel {
  padding-top: 3%;
}

h2.slider-header {
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
}

img.slider-img {
  height: auto;
  max-width: 100%;
  max-height: 320px;
  margin: 0 auto;
}

p.slider-text {
  font-family: textItalic;
  font-size: 1.3rem;
}