<div class="block-container container-black">
  <div class="page-block page-block-middle">
    <div class="row galary-row">
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/rounded/02.jpg" title="Будинок з оциліндрованого бруса" rel="rounded">
          <img class="img-responsive rounded-5" src="/imports/img/houses/rounded/02.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/rounded/03.jpg" title="Будинок з оциліндрованого бруса" rel="rounded">
          <img class="img-responsive rounded-5" src="/imports/img/houses/rounded/03.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/rounded/04.jpg" title="Будинок з оциліндрованого бруса" rel="rounded">
          <img class="img-responsive rounded-5" src="/imports/img/houses/rounded/04.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/rounded/05.jpg" title="Будинок з оциліндрованого бруса" rel="rounded">
          <img class="img-responsive rounded-5" src="/imports/img/houses/rounded/05.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/rounded/06.jpg" title="Будинок з оциліндрованого бруса" rel="rounded">
          <img class="img-responsive rounded-5" src="/imports/img/houses/rounded/06.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/rounded/07.jpg" title="Будинок з оциліндрованого бруса" rel="rounded">
          <img class="img-responsive rounded-5" src="/imports/img/houses/rounded/07.jpg">
        </a>
      </div>
    </div>
    <div class="row galary-row">

      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/rounded/08.jpg" title="Будинок з оциліндрованого бруса" rel="rounded">
          <img class="img-responsive rounded-5" src="/imports/img/houses/rounded/08.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/rounded/09.jpg" title="Будинок з оциліндрованого бруса" rel="rounded">
          <img class="img-responsive rounded-5" src="/imports/img/houses/rounded/09.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/rounded/10.jpg" title="Будинок з оциліндрованого бруса" rel="rounded">
          <img class="img-responsive rounded-5" src="/imports/img/houses/rounded/10.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/rounded/11.jpg" title="Будинок з оциліндрованого бруса" rel="rounded">
          <img class="img-responsive rounded-5" src="/imports/img/houses/rounded/11.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/rounded/12.jpg" title="Будинок з оциліндрованого бруса" rel="rounded">
          <img class="img-responsive rounded-5" src="/imports/img/houses/rounded/12.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/rounded/13.jpg" title="Будинок з оциліндрованого бруса" rel="rounded">
          <img class="img-responsive rounded-5" src="/imports/img/houses/rounded/13.jpg">
        </a>
      </div>
    </div>
  </div>
</div>