.row.article {
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    padding-left: 190px;
    position: relative;
    min-height: 135px;
}
.row.article:not(:last-child) {
    border-bottom: 1px solid #292c2f;
}

.article img {
    float: left;
    height: 120px;
    width: 180px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
}

.article a {
    margin-top: 5px;
    font-size: 14px;
    /*color: #1e90ff;*/
    /*text-decoration: underline;*/
}
.article h4 {
    margin: 0 0 5px;
    /*color: #1e90ff;*/
    /*text-decoration: underline;*/
}


@media screen and (max-width: 568px) {
    .row.article{
        padding: 0 15px 15px;
    }
    .article img {
        position: static;
        float: none;
        display: block;
        margin: 0 auto 10px;
    }



}
