.row.article {
    margin-bottom: 10px;
}

.article img {
    float: left;
    height: 120px;
    width: 180px;
    border-radius: 10px;
    margin-right: 10px;
}

.article a {
    color: #1e90ff;
    text-decoration: underline;
}

.article a:visited {
    color: #673AB7;
}