.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  flex-direction: row;
  color: white;
  background: #292c2f;
}

.footer-nav-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.nav-group {
  padding: 20px 15px 0 20px;
  margin: 0 auto;
}

.nav-group a {
  text-decoration: none;
  color: white;
}

.footer-bottom p {
  text-align: center;
  margin: 10px;
}

.nav-group ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.nav-group a {
  color: white;
  text-decoration: none;
}

.nav-head { transition: all .2s ease-in-out; }

p.nav-head {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 10px;
  cursor: default;
}

div.footer-top {
  width: 100%;
}

li.nav-group-item {
  font-size: 1.1rem;
  padding: 4px 4px;
}

li.nav-group-item:hover a  {
  color: dodgerblue;
}

.nav-group .nav-head {
  border-bottom: 1px solid rgba(0,0,0,0);
}

.nav-group.contact .nav-head {
  text-align: center;
}

.nav-group:hover .nav-head {
  color: dodgerblue;
  border-bottom: 1px solid dodgerblue;
}

.footer-top-container {
  display: flex;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

li.contact-group-item {
  font-size: 1.1rem;
  padding: 4px 4px;
}

li.contact-group-item-delimiter {
  margin: 4px 4px;
  border-top: 1px solid;
}

.footer-contact-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-contact-container .nav-group-items {
  margin: 8px auto;
  padding: 0 15px;
}

.jss-label {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.jss-label img {
  height: 35px;
}

.socials a {
  padding: 5px 7px;
  font-size: 1.3rem;
  cursor: pointer;
}

.socials a:hover {
  color: dodgerblue;
}

.sm-show { display: none }

@media screen and (max-width: 531px) {
  .sm-hide { display: none }
  .sm-show { display: block }
}
