.header-top-buffer {
  height: 65px;
}

header.page-header {
  display: flex;
  /*position: absolute;*/
  position: fixed;
  z-index: 8000;
  width: 100%;
  height: 65px;
  padding-left: 2.4vw;
  background: #292c2f;
}
header.transparent, header .nav-item-block.transparent {
  background: transparent;
}
  /*logo*/
  .company-logo {
    color: #fff;
    display: flex;
    align-items: center;
    font-family: projBold;
    padding-top: 14.5px;
  }
    .company-logo .logo-text {
      font-size: 22px;
      text-transform: uppercase;
    }
    .logo-img {
      margin-right: 10px;
      width: 54px;
      height: 36px;
    }

  /*menu  */
  header .menu {
    margin: 0 4vw 0 auto;
    padding: 0 20px;
    display: flex;
    font-family: special;
  }
    header ul.nav-items {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
    }
    header ul.sidenav-items {
      text-align: left;
      list-style: none;
      padding-left: 0;
    }
      header li.nav-item {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      header li .nav-item-label {
        color: #fff;
        padding: 5px 15px;
        margin: 0 2px;
        font-size: 1.15rem;
        border: 2px solid transparent;
        border-radius: 11.5px;
        text-align: center;
      }
      header li .nav-item-label.selected {
        background: #b90908;
      }
      header li:hover .nav-item-label {
        border: 2px solid #b90908;
      }
      header li.sidenav-item {
        padding: 0 0 30px 20px;
      }
        .separate-word {
          display: inline-block;
          margin-left: 11px;
        }
        .nav-item-block {
          position: absolute;
          display: none;
          opacity: 0;
          z-index: 10001;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          top: 65px;
          background: rgba(17, 17, 17, .88);
        }
          .nav-item-block a {
            text-decoration: none;
            color: #fff;
          }
          .nav-item-block a:hover {
            color: #b90908;
          }
          .nav-item-block a h4 {
            font-size: 1rem;
            margin: 20px;
          }
          .nav-item-block a:first-child h4 {
            margin-top: 15px;
          }
          .nav-item-block.side {
            right: 100%;
            border-bottom-right-radius: 0;
          }
          .nav-item-block.side a h4 {
            width: 266px;
          }

        header li:hover .nav-item-block {
          display: block;
          opacity: 1;
        }

  /*burger*/
  .burger-btn {
    font-size: 30px;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    color: #fff;
    right: 60px;
    top: 16px;
    display: none;
  }

  /*sidenav*/
  .sidenav {
    height: 100%;
    width: 40%;
    min-width: 300px;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color: rgba(17, 17, 17, .88);
    text-align: right;
    transition: 0.5s;
    transform: translate(100%, 0);
  }
  .sidenav.opened {
    transform: translate(0, 0);
  }
    .sidenav .closebtn {
      display: inline-block;
      font-size: 36px;
      color: #fff;
      margin: 0 20px 10px 0;
      align-self: flex-end;
    }
    /*.sidenav ul.sidenav-items { display: none}*/

  /*language selector*/
  .language-selector {
    position: absolute;
    right: 15px;
    top: 8px;
  }
  .language-selector .selected {
    background: #b90908;
  }
    .language-selector p {
      margin: 0;
      color: #fff;
      font-weight: 600;
      font-size: 0.8rem;
      font-family: projDefault;
      padding: 0 5px;
      border-radius: 4px;
    }
    .language-selector hr {
      margin: 6px 0;
    }

@media screen and (max-width: 1152px) {
  header .menu {
    display: none;
  }
  header .burger-btn {
    display: inline;
  }
  header .sidenav {
    display: flex;
    flex-direction: column;;
  }
  header .nav-item-block.transparent {
    background: rgba(17,17,17,.88);
  }
}
@media screen and (max-width: 540px) {
  .sidenav.opened {
    width: 100%;
  }
  .nav-item-block {
    position: static;
    display: block;
    opacity: 1;
    margin-left: 10px;
    background: inherit;
  }
}
@media screen and (max-height: 736px) {
  .sidenav ul.sidenav-items {
    margin-top: 0;
    flex: 1;
    overflow: auto;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .sidenav ul.sidenav-items li {
    padding-bottom: 2.1vh;
  }
}
@media screen and (max-height: 635px) {
  .nav-item-block a h4 {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}

