@font-face {
  font-family: projDefault;
  src: url(/imports/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: projBold;
  src: url(/imports/fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: projSemibold;
  src: url(/imports/fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: projExtraBold;
  src: url(/imports/fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: special;
  src: url(/imports/fonts/Roboto-Medium.ttf);
}

body {
  margin: 0;
  font-family: projDefault;
  font-size: 22.5px;
  background: url('/imports/img/background_light.png');
}

@media screen and (max-width: 736px) {
  body {
    font-size: 18px;
  }
}

.section-title {
  font-family: projSemibold;
  font-size: 40.3px;
  font-weight: 600;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h3 {
  font-size: 1.7rem;
  margin: 10px 0;
}

h4 {
  font-size: 1.5rem;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: black;
}

.block-container {
  padding: 12vh 0;
  float: left;
  width: 100%;
}

.block-container.full-height {
  min-height: 60vh;
}

.container-dark {
  background-color: rgba(102, 102, 102, .1);
}

/*====page styles====*/

.link-decorated {
  color: #008ACE;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.link-decorated::after {
  font-family: FontAwesome;
  content: "\f08e";
  font-size: .4em;
  margin-left: 3px;
  vertical-align: super;
}

.service-img {
  width: 336px;
}

.service-big-img {
  width: 50%;
}

.service-img-right {
  float: right;
  margin: 15px 0 15px 25px;
}

.service-img-left {
  float: left;
  margin: 15px 25px 15px 0
}

/*======price label========*/
.price-row {
  display: flex;
}

.price-row h5 {
  margin: 2px 10px;
  font-size: 1.4rem;
  color: black;
}

.price-row span {
  font-size: 1.9rem;
  color: black;
}

.price-container {
  display: flex;
}

.price-container a {
  margin: 10px auto;
}

/*======price label========*/

.btn-details {
  display: inline-block;
  padding: 0 60px;
  text-decoration: none;
  border: 2px solid #c40505;
  border-radius: 15px;
  color: #c40505;
  background-color: transparent;
  font-family: special;
  font-size: 17.1px;
  font-weight: 500;
  line-height: 2;
}
.btn-details:hover {
  background-color: #c40505;
  color: #fff;
  cursor: pointer;
}
.call-us-btn {
  width: 100%;
  text-align: center;
  padding: 5px 12px;
  margin-top: inherit;
}
.call-us-btn.common {
  position: fixed;
  bottom: 71px;
  left: -72px;
  width: 175px;
  transform: rotate(90deg);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
}

.pdf-btn {
  display: block;
  text-align: center;
  margin: 2vmin 0;
}
.pdf-logo {
  width: 6vmax;
}

.app-gallery {
  text-align: center;
}
.app-gallery .no-col {
  display: inline-block;
}
.app-gallery .img-wrapper {
  height: 132px;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.app-gallery .app-gallery-item {
  height: 100%;
  border-radius: 5px;
}

#call-container {
  width: 250px;
}

#call-container .phones a {
  display: block;
  font-size: 18px;
}

#call-container form input, #call-container form textarea {
  width: 100%;
  border: 1px solid rgba(85,39,16,0.3);
  box-shadow: none;
  outline: none;
  font-size: 16px;
  color: #142f39;
  background-color: rgba(85,39,16,0.1);
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 10px;
}

#call-container #changes h4.success {
  color: green;
}

@media screen and (max-width: 1230px) {
  .app-gallery .img-wrapper.squeezing {
    padding: 20px;
  }
}
@media screen and (max-width: 1075px) {
  .app-gallery .img-wrapper.squeezing {
    padding: 30px;
  }
}
@media screen and (max-width: 669px) {
  .service-big-img, .service-img {
    width: 100%
  }
}

.full-height {
  min-height: 100vh;
}