<title>{{data.header.company}}</title>
<link rel="shortcut icon" href="{{data.header.logo}}" type="image/jpg">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="author" content="Terkom">

{{> common/preloader_style}}

<link href="/imports/lib/bootstrap/bootstrap-grid.css" rel="stylesheet">
<link href="/imports/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="/imports/lib/swiper/swiper.min.css" rel="stylesheet">

<link href="/imports/css/common/main.css" rel="stylesheet">
<link href="/imports/css/common/header.css" rel="stylesheet">
<link href="/imports/css/common/footer.css" rel="stylesheet">
<link href="/imports/css/common/helpers.css" rel="stylesheet">

<!--2-nd priority styles imports-->

<link rel="stylesheet" type="text/css" href="/imports/lib/fancy/jquery.fancybox.css">

