<div class="block-container {{ isOdd @index 'container-dark' null}}">
	<div class="page-block page-block-middle">
		{{#if headTitle}}
			<h3 class="text-center no-margin">{{headTitle}}</h3>
			<hr class="head-text-delimiter"/>
		{{/if}}
		<div class="row">
			<img src="{{ img }}"
				class="service-big-img rounded-15 {{ isOdd @index 'service-img-right' 'service-img-left'}}"
			/>
			{{#each paragraphs}}
				<p class="text-justify">{{#if @first}}<strong>{{../title}}</strong>{{/if}}{{this}}</p>
			{{/each}}
			<ul class="{{ listClass }}">
				{{#each list}}
					<li>{{ this }}</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>