<div class="block-container {{#if isEven }}container-dark{{/if}} {{#if fullHeight}}full-height{{/if}}">
	<div class="page-block page-block-middle">
		{{#if headTitle}}
			<h3 class="text-center no-margin">{{headTitle}}</h3>
			<hr class="head-text-delimiter"/>
		{{/if}}
		<div class="row">
			{{#if title}}
				<h4>{{title}}</h4>
			{{/if}}

			{{#if img}}
				<img src="{{ img }}"
					class="service-big-img rounded-15 {{#if isEven}}service-img-right{{else}}service-img-left{{/if}}"
				/>
			{{/if}}

			{{#each paragraphs}}
				<p class="{{#if ../paragraphClass}}{{../paragraphClass}}{{else}}text-justify{{/if}}">{{{this}}}</p>
			{{/each}}

			{{#if list}}
				<ul class="{{ listClass }}">
					{{#each list}}
						<li>{{ this }}</li>
					{{/each}}
				</ul>
			{{/if}}

			{{#each galleries}}
				{{{ gallery
					this.colClass
					this.imgWrapClass
					this.galleryPath
					this.nImgs
				}}}
			{{/each}}
		</div>
	</div>
</div>
