<div class="block-container container-dark">
  <div class="page-block page-block-middle">
    <div class="row galary-row">
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/wild/01.jpg" title="Будинок з клеєного бруса" rel="wild">
          <img class="img-responsive rounded-5" src="/imports/img/houses/wild/01.jpg">
        </a>
      </div>
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/wild/02.jpg" title="Будинок з клеєного бруса" rel="wild">
          <img class="img-responsive rounded-5" src="/imports/img/houses/wild/02.jpg">
        </a>
      </div>
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/wild/03.jpg" title="Будинок з клеєного бруса" rel="wild">
          <img class="img-responsive rounded-5" src="/imports/img/houses/wild/03.jpg">
        </a>
      </div>
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/wild/04.jpg" title="Будинок з клеєного бруса" rel="wild">
          <img class="img-responsive rounded-5" src="/imports/img/houses/wild/04.jpg">
        </a>
      </div>
    </div>
    <div class="row galary-row">
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/wild/05.jpg" title="Будинок з клеєного бруса" rel="wild">
          <img class="img-responsive rounded-5" src="/imports/img/houses/wild/05.jpg">
        </a>
      </div>
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/wild/06.jpg" title="Будинок з клеєного бруса" rel="wild">
          <img class="img-responsive rounded-5" src="/imports/img/houses/wild/06.jpg">
        </a>
      </div>
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/wild/07.jpg" title="Будинок з клеєного бруса" rel="wild">
          <img class="img-responsive rounded-5" src="/imports/img/houses/wild/07.jpg">
        </a>
      </div>
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/wild/08.jpg" title="Будинок з клеєного бруса" rel="wild">
          <img class="img-responsive rounded-5" src="/imports/img/houses/wild/08.jpg">
        </a>
      </div>
    </div>
  </div>
</div>