<div class="block-container container-dark">
  <div class="page-block page-block-middle">
    <div class="row galary-row">
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/profiled/02.jpg" title="Будинок з профільного бруса" rel="profiled">
          <img class="img-responsive rounded-5" src="/imports/img/houses/profiled/02.jpg">
        </a>
      </div>
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/profiled/03.jpg" title="Будинок з профільного бруса" rel="profiled">
          <img class="img-responsive rounded-5" src="/imports/img/houses/profiled/03.jpg">
        </a>
      </div>
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/profiled/04.jpg" title="Будинок з профільного бруса" rel="profiled">
          <img class="img-responsive rounded-5" src="/imports/img/houses/profiled/04.jpg">
        </a>
      </div>
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/profiled/05.jpg" title="Будинок з профільного бруса" rel="profiled">
          <img class="img-responsive rounded-5" src="/imports/img/houses/profiled/05.jpg">
        </a>
      </div>
      
    </div>
    <div class="row galary-row">
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/profiled/06.jpg" title="Будинок з профільного бруса" rel="profiled">
          <img class="img-responsive rounded-5" src="/imports/img/houses/profiled/06.jpg">
        </a>
      </div>
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/profiled/07.jpg" title="Будинок з профільного бруса" rel="profiled">
          <img class="img-responsive rounded-5" src="/imports/img/houses/profiled/07.jpg">
        </a>
      </div>
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/profiled/08.jpg" title="Будинок з профільного бруса" rel="profiled">
          <img class="img-responsive rounded-5" src="/imports/img/houses/profiled/08.jpg">
        </a>
      </div>
      <div class="col-sm-3">
        <a class="fancybox" href="/imports/img/houses/profiled/09.jpg" title="Будинок з профільного бруса" rel="profiled">
          <img class="img-responsive rounded-5" src="/imports/img/houses/profiled/09.jpg">
        </a>
      </div>

    </div>
  </div>
</div>