.garden-gallery {
  margin-bottom: 10px;
}

.with-fireplace .img-wrapper {
  height: 110px;
}

@media screen and (min-width: 888px) {
  .octagonal {
    margin: 6vw 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 888px) {
  .octagonal {
    margin: 3vw 0;
  }
}
@media screen and (max-width: 888px) {
  .garden-gallery {
    margin-left: -22px;
  }
}
@media screen and (max-width: 639px) {
  .garden-gallery .col-xs-4,
  .arches .col-xs-3 {
    padding: 0
  }
}
@media screen and (max-width: 500px) {
  .garden-gallery .img-wrapper.squeezing,
  .arches .img-wrapper.squeezing {
    padding: 40px;
  }
  .arches, .arches .col-xs-3:last-child {
    margin-left: -28px;
  }
}
