/*new styles*---------------------------------------------------------------*/
.head-section {
  background:  rgba(102, 102, 102, .1) url('/imports/img/landing/top_section_background.png');
  background-size: 100% 100%;
  text-align: center;
  /*background-position: center bottom;*/
  height: 100vh;
}

.head-section .text {
  display: inline-block;
  margin-top: 30vh;
  color: #fff;
}

.head-section .text .slogan {
  font-family: projExtraBold;
  font-size: 61px;
  font-weight: 800;
  text-transform: uppercase;
}
.head-section .text .description {
  width: 785px;
  margin: 17px auto 61px;
}

.head-section .btn-details {
  font-size: 27.5px;
  border-radius: 22.5px;
  background: #b90908;
  border: 2px solid #b90908;
  color: #fff;
}
.head-section .btn-details:hover {
  background: #990000;
  border-color: #990000;
}
.head-section .scroll-down {
  position: absolute;
  width: 46px;
  left: calc(50% - 23px);
  bottom: 3vh;
}
.head-section .scroll-down:hover {
  cursor: pointer;
}
.landing-services{
  display: flow-root;
  position: relative;
}
.landing-services .block-container {
  padding: 0;
}
.landing-services .column {
  display: inline-block;
  padding-top: 12vh;
}
.landing-services .left-text-column {
  float: left;
  text-align: right;
  padding-right: 40px;
  padding-left: 15vw;
  padding-bottom: 12vh;
  border-right: 2px solid #c40505;
  width: calc(50% + 1px);
}
.landing-services .right-text-column {
  float: right;
  text-align: left;
  padding-right: 15vw;
  padding-left: 40px;
  padding-bottom: 12vh;
  border-left: 2px solid #c40505;
  width: calc(50% + 1px);
}
.landing-services .left-gallery-column {
  text-align: right;
  padding-right: 10px;
  width: calc(50% - 1px);
}
.landing-services .right-gallery-column {
  padding-left: 10px;
  width: calc(50% - 1px);
}
/*.landing-services .right-gallery-column .gallery-item {*/
  /*padding: 0 23px 29px 0;*/
/*}*/
.landing-services .right-gallery-column .fancybox {
  display: inline-block;
  vertical-align: top;
  margin: 0 23px 29px 0;
}

.landing-services .column p {
  position: relative;
}
.landing-services .right-text-column p:before{
  right: auto;
  left: -47.5px;
}
/*.landing-services .left-gallery-column .gallery-item {*/
  /*padding: 0 0 29px 23px;*/
/*}*/
.landing-services .left-gallery-column .fancybox {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 29px 23px;
}
.benefits-section {
  width: 100%;
  background: #c40505;
  color: #fff;
  text-align: center;
  float: left;
  padding: 40px 10vw;
}
.benefits-section .benefit {
  display: inline-block;
  max-width: 216px;
  min-width: 113px;
}
.benefits-section .benefit img {
  width: 100px;
}

.rewards-section {
  float: left;
  padding: 40px 0;
  width: 100%;
  text-align: center;
}
.rewards-swiper {
  padding: 30px;
}
.rewards-swiper .swiper-wrapper{
  align-items: center;
}
.rewards-swiper .swiper-slide{
  width: 291px;
  /*height: 417px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.rewards-swiper .swiper-slide img{
  max-width: 291px;
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: scale-down;
  object-position: center;
  box-shadow: -2.2px 3.3px 25.1px 12.9px rgba(0, 0, 0, 0.27);
}
.rewards-swiper .swiper-slide-active{
  -webkit-filter: blur(0);
  filter: blur(0);
}

@media screen and (max-width: 1388px) and (min-width: 1237px) {
  .landing-services .gallery-item {
    width: 300px;
  }
}
@media screen and (max-width: 1236px) {
  .landing-services .column {
    width: 100%;
  }
  .landing-services .left-text-column,
  .landing-services .right-text-column {
    border: 0;
    text-align: justify;
    padding: 5vh 40px 29px;
  }
  .landing-services .left-gallery-column,
  .landing-services .right-gallery-column {
    text-align: center;
    padding: 0 40px 10px;
  }
  .landing-services .column .gallery{
    margin: 0 -12px;
  }
  .landing-services .column .fancybox{
    margin: 0 12px 29px;
    width: 270px;
  }
  .landing-services .column .fancybox img{
    max-width: 100%;
  }
  .rewards-swiper{
    padding: 15px;
  }
  .rewards-swiper .swiper-slide img{
    box-shadow: -1px 1px 13px 9px rgba(0,0,0,.27);
  }

}


@media screen and (min-width: 1237px) {
  .landing-services p:before {
    content: "";
    position: absolute;
    right: -47.5px;
    top: 50%;
    margin-top: -6.5px;
    width: 13px;
    height: 13px;
    background-color: white;
    border: 1px solid #c40505;
    border-radius: 50%;
  }
  .landing-services:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6.5px;
    margin: -6.5px 0 0 -6.5px;
    width: 13px;
    height: 13px;
    background-color: #c40505;
    border: 1px solid #c40505;
    border-radius: 50%;
  }
}

@media screen and (max-width: 1079px) {
  .rewards-section .gallery-img {
    width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .head-section .text {
    margin-top: 18vh;
  }
  .head-section .text .slogan {
    font-size: 50px;
  }
  .head-section .text .description {
    width: 81%;
  }
  .landing-services .column .fancybox{
    width: 200px;
  }
}
@media screen and (max-width: 767px) {
  .benefits-section{
    padding: 30px 15px;
  }
  .benefits-section .row{
    display: flex;
    flex-wrap: wrap;
  }
  .benefits-section .col-xs-6{
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 736px) {
  .head-section .text .slogan {
    font-size: 40px;
  }
  .head-section .text .description {
    margin: 16px 0;
    width: 90%;
    display: inline-block;
  }
  .landing-services .column .fancybox{
    width: 200px;
  }
  .rewards-swiper{
    padding: 10px 5px;
  }
  .rewards-swiper .swiper-slide img{
    box-shadow: none;
  }
}
@media screen and (max-width: 667px) {
  .head-section .scroll-down {
    width: 31px;
    height: 67px;
    left: calc(50% - 15.5px);
    bottom: 0;
  }
}
@media screen and (max-width: 568px) {
  .head-section .text .slogan {
    font-size: 33px;
    margin-top: 10px;
  }
  .head-section .text .description {
    font-size: 14px;
    margin: 10px 0;
  }
  .landing-services .left-gallery-column,
  .landing-services .right-gallery-column,
  .landing-services .left-text-column,
  .landing-services .right-text-column{
    padding: 15px;
  }

  .landing-services .column .gallery{
    margin: 0 -5px;
  }
  .landing-services .column .fancybox{
    margin: 0 5px 10px;
    width: 90px;
  }
  body{
    font-size: 16px;
  }
  .section-title{
    font-size: 24px;
  }
  .benefits-section .benefit img{
    width: 60px;
  }
  .benefits-section .benefit{
    min-width: auto;
    max-width: 130px;
  }
  .benefits-section{
    padding: 30px 0;
    font-size: 13px;
  }
}
@media screen and (max-width: 375px) {
  .head-section .btn-details {
    padding: 0 25px;
    margin-top: 10px;
    font-size: 18px;
  }
  .btn-details{
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .head-section {
    height: 97.4vh;
  }
}

/*old styles---------------------------------------------------------------*/
.service-container {
  display: flex;
  flex-direction: column;
}

.service-container h4 {
  font-size: 1.3rem;
  margin: 10px 0;
}

a.read-more {
  text-decoration: underline;
  color: darkblue;
}

.why-us-item span {
  margin: 0 auto;
}

.why-us-item {
  display: flex;
  flex-direction: column;
}

.why-us-item span {
  margin: 10px auto;
  font-size: 5rem;
}

.why-us-item h4 {
  font-size: 1.3rem;
}

.row.rewards-container .row {
  margin-bottom: 20px;
}
