/*new styles*---------------------------------------------------------------*/
.head-section {
  background:  rgba(102, 102, 102, .1) url('/imports/img/landing/top_section_background.png');
  background-size: 100% 100%;
  text-align: center;
  /*background-position: center bottom;*/
  height: 100vh;
}

.head-section .text {
  display: inline-block;
  margin-top: 30vh;
  color: #fff;
}

.head-section .text .slogan {
  font-family: projExtraBold;
  font-size: 61px;
  font-weight: 800;
  text-transform: uppercase;
}
.head-section .text .description {
  width: 785px;
  margin: 17px auto 61px;
}

.head-section .btn-details {
  font-size: 27.5px;
  border-radius: 22.5px;
  background: #b90908;
  border: 2px solid #b90908;
  color: #fff;
}
.head-section .btn-details:hover {
  background: #990000;
  border-color: #990000;
}
.head-section .scroll-down {
  position: absolute;
  width: 46px;
  left: calc(50% - 23px);
  bottom: 3vh;
}
.head-section .scroll-down:hover {
  cursor: pointer;
}
.landing-services .block-container {
  padding: 0;
}
.landing-services .column {
  display: inline-block;
  padding-top: 12vh;
}
.landing-services .left-text-column {
  float: left;
  text-align: right;
  padding-right: 40px;
  padding-left: 15vw;
  padding-bottom: 12vh;
  border-right: 2px solid #c40505;
  width: calc(50% + 1px);
}
.landing-services .right-text-column {
  float: right;
  text-align: left;
  padding-right: 15vw;
  padding-left: 40px;
  padding-bottom: 12vh;
  border-left: 2px solid #c40505;
  width: calc(50% + 1px);
}
.landing-services .left-gallery-column {
  text-align: right;
  padding-right: 10px;
  width: calc(50% - 1px);
}
.landing-services .right-gallery-column {
  padding-left: 10px;
  width: calc(50% - 1px);
}
.landing-services .right-gallery-column .gallery-item {
  padding: 0 23px 29px 0;
}
.landing-services .left-gallery-column .gallery-item {
  padding: 0 0 29px 23px;
}
@media screen and (max-width: 1388px) and (min-width: 1237px) {
  .landing-services .gallery-item {
    width: 300px;
  }
}
@media screen and (max-width: 1236px) {
  .landing-services .column {
    width: 100%;
  }
  .landing-services .left-text-column,
  .landing-services .right-text-column {
    border: 0;
    text-align: justify;
    padding: 10vh 40px 29px;
  }
  .landing-services .left-gallery-column,
  .landing-services .right-gallery-column {
    text-align: center;
    padding: 0 0 10vh;
  }
}

/*.landing-services .gallery {*/
/*padding-top: 22vh;*/
/*}*/
@media screen and (max-width: 950px) {
  .head-section .text {
    margin-top: 18vh;
  }
  .head-section .text .slogan {
    font-size: 50px;
  }
  .head-section .text .description {
    width: 81%;
  }
}
@media screen and (max-width: 736px) {
  .head-section .text .slogan {
    font-size: 40px;
  }
  .head-section .text .description {
    margin: 16px 0;
    width: 90%;
    display: inline-block;
  }
}
@media screen and (max-width: 667px) {
  .head-section .scroll-down {
    width: 31px;
    height: 67px;
    left: calc(50% - 15.5px);
    bottom: 0;
  }
}
@media screen and (max-width: 568px) {
  .head-section .text .slogan {
    font-size: 33px;
    margin-top: 10px;
  }
  .head-section .text .description {
    font-size: 14px;
    margin: 10px 0;
  }

}
@media screen and (max-width: 375px) {
  .head-section .btn-details {
    padding: 0 25px;
  }
}
@media screen and (max-width: 375px) {
  .head-section {
    height: 97.4vh;
  }
}

/*old styles---------------------------------------------------------------*/
.service-container {
  display: flex;
  flex-direction: column;
}

.service-container h4 {
  font-size: 1.3rem;
  margin: 10px 0;
}

a.read-more {
  text-decoration: underline;
  color: darkblue;
}

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.why-us-item span {
  margin: 0 auto;
}

.why-us-item {
  display: flex;
  flex-direction: column;
}

.why-us-item span {
  margin: 10px auto;
  font-size: 5rem;
}

.why-us-item h4 {
  font-size: 1.3rem;
}

.landing-why-us h3 {
  margin-bottom: 20px;
  text-align: center;
}

.row.rewards-container .row {
  margin-bottom: 20px;
}
