<div class="block-container contacts">
  <div class="container">
    <h3>{{title}}</h3>
    <div class="row contacts-text">
      <div class="contact-column">
        {{#each addressLines}}
          <p>{{this}}</p>
        {{/each}}
        <p>
          <span class="fa fa-at"></span>
          {{email}}
        </p>
      </div>
      <div class="contact-column">
        {{#each phones}}
          <p><span class="{{this.iconClass}}"></span>{{this.phone}}</p>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="contacts">
    <iframe src="{{map}}" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>