<div class="block-container container-dark">
	<div class="page-block page-block-middle">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-4 no-padding">
				<img src="/imports/img/houses/manager.jpg" class="rounded-15">
			</div>
			<div class="col-lg-4 col-md-5 col-sm-5 no-padding">
				<p class="manager-name">Саловский Володимир Євгенович</p>
				<a class="phone" href="tel: +380681053872">+38 (068) 105-38-72</a>
				<a class="phone" href="tel: +380503382245">+38 (050) 338-22-45</a>
				<a class="phone" href="tel: +380352431086">+38 (0352) 43-10-86</a>
				<a class="phone" href="tel: +380352433947">+38 (0352) 43-39-47</a>
			</div>
			<div class="col-lg-5 col-md-4 col-sm-3 text-center">
				<a href="/imports/files/price_woodenhouses.pdf" class="btn-details price" target="_blank">Прайс-лист</a>
			</div>
		</div>
	</div>
</div>