<div class="block-container">
  <div class="page-block page-block-middle">
    <h3 class="text-center no-margin">Дерев'яні будинки</h3>
    <hr class="head-text-delimiter">
    <img class="service-houses-img" src="/imports/img/landing/services/houses/houses.jpg"/>
    <p class="text-justify text-default">«Терком» виробляє з клеєного, профільованого і оциліндрованного бруса, а також дикої колоди будинки, лазні, альтанки ресторани, літні кухні, човнові ангари, господарські будівлі та інші малі архітектурні форми. Виробництво ведеться як за проектами поданими на сайті, так і за індивідуальними проектами, враховуючи найвишуканіші побажання клієнта.</p>
    <p class="text-justify text-default">Не секрет, що правильна, грамотна збірка комплекту будинку - застава успішного будівництва й Вашого комфортного проживання. Збірка "під ключ" нашою компанією оптимальна для тих клієнтів, хто цінує свій час і воліє не шукати нових підрядників. Ми самі виготовляємо й збираємо комплект тим самим, гарантуючи точність і правильність збірки. «Терком» забезпечує Замовнику високу якість виконуваних робіт.</p>
    <p class="text-justify text-default">Собівартість будівництва дерев'яного будинку набагато нижче, ніж цегельного або блочного, які, до того ж, не опалювальні в зимовий період, "відволожуються", - всім відоме відчуття вологості в холодному кам'яному приміщенні. Дерев'яні стіни дихають, не перешкоджаючи випаровуванню надмірної вологи.</p>
    <a href="#" class="btn-details">Детальніше</a>
    {{> landing/houses_prew/gallery}}
  </div>
</div>
