<div class="block-container container-dark">
  <div class="page-block page-block-middle">
    <h3 class="text-center">Сертифікати</h3>
    <hr class="head-text-delimiter">

    <div class="row rewards-container">
      <div class="row">
        <div class="col-sm-3">
          <a class="fancybox" href="/imports/img/rewards/01.jpg" title="Сертифікати" rel="certificats">
            <img class="img-responsive img-border-5" src="/imports/img/rewards/01.jpg">
          </a>
        </div>
        <div class="col-sm-3">
          <a class="fancybox" href="/imports/img/rewards/02.jpg" title="Сертифікати" rel="certificats">
            <img class="img-responsive img-border-5" src="/imports/img/rewards/02.jpg">
          </a>
        </div>
        <div class="col-sm-3">
          <a class="fancybox" href="/imports/img/rewards/03.jpg" title="Сертифікати" rel="certificats">
            <img class="img-responsive img-border-5" src="/imports/img/rewards/03.jpg">
          </a>
        </div>
        <div class="col-sm-3">
          <a class="fancybox" href="/imports/img/rewards/09.jpg" title="Сертифікати" rel="certificats">
            <img class="img-responsive img-border-5" src="/imports/img/rewards/09.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
