<!DOCTYPE html>
<html>
  <head>
    {{> common/global_head_imports }}
    <link href="/imports/css/garden_houses.css" rel="stylesheet">
    <meta name="description" content="">
    <meta name="keywords" content="">
  </head>
  <body>
    {{> common/header lang=lang }}
    {{> garden_houses/main }}
    {{> garden_houses/arches }}
    {{> garden_houses/pergola }}
    {{> garden_houses/octagonal }}
    {{> garden_houses/with_fireplace }}
    {{> garden_houses/park }}
    {{> garden_houses/examples }}
    {{> common/footer/footer lang=lang }}
    {{> common/global_scripts }}
  </body>
</html>