<!DOCTYPE html>
<html>
  <head>
    {{> common/global_head_imports }}
    <link href="/imports/css/garden_houses.css" rel="stylesheet">
    <meta name="description" content="">
    <meta name="keywords" content="">
  </head>
  <body>
    {{> common/header/header }}
    <div class="header-top-buffer"></div>

    {{> garden_houses/garden_houses_section
      section=data.gardenHouses.sections.main
      contactUsBtn=data.footer.contactUsBtn
    }}
    {{> garden_houses/arches_pergola
      section=data.gardenHouses.sections.arches
      contactUsBtn=data.footer.contactUsBtn
    }}
    {{> garden_houses/arches_pergola
      section=data.gardenHouses.sections.pergola
      contactUsBtn=data.footer.contactUsBtn
    }}
    {{> garden_houses/garden_houses_section
      section=data.gardenHouses.sections.octagonal
      contactUsBtn=data.footer.contactUsBtn
    }}
    {{> garden_houses/garden_houses_section
      section=data.gardenHouses.sections.withFireplace
      contactUsBtn=data.footer.contactUsBtn
    }}
    {{> garden_houses/park
      section=data.gardenHouses.sections.park
      contactUsBtn=data.footer.contactUsBtn
    }}
    {{> common/page_section data.gardenHouses.sections.examples}}
    {{> common/footer/footer }}
    {{> common/global_scripts }}
  </body>
</html>