<!DOCTYPE html>
<html>
  <head>
    {{> common/global_head_imports}}
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="/imports/css/common/articles.css" rel="stylesheet">
  </head>
  <body>
    {{> common/header/header }}
    <div class="header-top-buffer"></div>

    {{#each data.laminatedTimber.sections}}
      {{> common/page_section }}
    {{/each}}
    {{> common/articles isEven=true data=data.articles }}
    {{> common/footer/footer }}
    {{> common/global_scripts}}
  </body>
</html>