<!DOCTYPE html>
<html>
  <head>
    {{> common/global_head_imports}}

    <!--slider styles-->
    <link href="/imports/lib/slider/jquery.bxslider.css" rel="stylesheet">

    <link href="/imports/css/landing/slider.css" rel="stylesheet">


    <title>    </title>
    <meta name="description" content="">
    <meta name="keywords" content="">


  </head>

  <body>

    {{>common/header/header }}

    {{> houses/laminated_timber/main }}

    {{> houses/laminated_timber/galery }}

    {{> common/footer/footer }}

    {{> common/global_scripts}}

  </body>
</html>