<!DOCTYPE html>
<html>
  <head>

    {{> common/global_head_imports}}

    <link href="/imports/lib/slider/jquery.bxslider.css" rel="stylesheet">
    <link href="/imports/css/landing/slider.css" rel="stylesheet">
    <link href="/imports/css/landing/landing.css" rel="stylesheet">
    <link href="/imports/css/common/template-helpers.css" rel="stylesheet">

    <meta name="description" content="">
    <meta name="keywords" content="">
  </head>

  <body>

    {{> common/header lang=lang }}

    {{> landing/slider }}
    {{> landing/company_info }}
    {{> landing/houses_prew }}
    {{> landing/euro_windows }}
    {{> landing/garden_houses }}
    {{> landing/doors }}
    {{> landing/why_us }}
    {{> landing/rewards }}

    {{> common/footer lang=lang }}

    {{> common/global_scripts}}

    <script src="/imports/lib/slider/jquery.bxslider.js"></script>
    <script src="/imports/js/landing.js"></script>
  </body>
</html>
