<!DOCTYPE html>
<html>
  <head>

    {{> common/global_head_imports}}

    <!--<link href="/imports/lib/slider/jquery.bxslider.css" rel="stylesheet">-->
    <link href="/imports/css/landing/slider.css" rel="stylesheet">
    <link href="/imports/css/landing/landing.css" rel="stylesheet">

    <!--<meta name="description" content="">-->
    <!--<meta name="keywords" content="">-->
  </head>

  <body>
    {{> common/header/header }}
    <div class="header-top-buffer"></div>

    {{!-- if Client give a content for these parts --}}
      {{!> landing/slider }}
      {{!> landing/company_info }}
    {{!----------------------------------------------}}
    {{> common/page_section data.landing.headSection}}

    {{#each data.landing.services }}
      {{> landing/service_section detailsBtnLabel=../data.landing.detailsBtnLabel}}
    {{/each}}
    {{> landing/why_us }}
    {{> common/page_section data.landing.rewards}}
    {{> common/footer/footer}}

    {{> common/global_scripts}}

    <script src="/imports/lib/slider/jquery.bxslider.js"></script>
    <script src="/imports/js/landing.js"></script>
  </body>
</html>
