<!DOCTYPE html>
<html>
  <head>
    {{> common/global_head_imports}}

    <!--slider styles-->
    <link href="/imports/lib/slider/jquery.bxslider.css" rel="stylesheet">


    <title>    </title>
    <meta name="description" content="">
    <meta name="keywords" content="">


  </head>

  <body>

    {{> common/header lang=lang }}

    {{> landing/slider }}



    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>
    <p>Content</p>



    {{> common/footer lang=lang }}

    {{> common/global_scripts}}

    <!--SLIDER SCRIPT-->
    <script src="/imports/lib/slider/jquery.bxslider.js"></script>


    <script src="/imports/js/landing.js"></script>

  </body>
</html>
