<!DOCTYPE html>
<html>
  <head>
    {{> common/global_head_imports }}
    <link href="/imports/css/houses.css" rel="stylesheet">

    <meta name="description" content="">
    <meta name="keywords" content="">
  </head>
  <body>
    {{>common/header/header }}
    <div class="header-top-buffer"></div>

    {{#each data.woodenHouses.sections}}
      {{> common/page_section }}
    {{/each}}
    {{> houses/contact_price data.woodenHouses.contactPrice}}

    {{> common/footer/footer }}
    {{> common/global_scripts }}
  </body>
</html>
