<div class="block-container">
  <div class="page-block page-block-small">
    <div class="landing-about">
      <div class="about-header">
        <h3>
          Компанія "Терком" спеціалізується на виготовленні дерев'яних будинків та наданні супутніх послуг.
        </h3>
        <p class="text-justify text-default">
          Наша продукція завжди охарактирезовувалась якістю та передовими технологіяим в виробництві. Ми цінимо наших клієнтів, тому кожен, хто звернувся до нас отримає індивідуальний підхід, та повну консультацію у всіх технічних питаннях. Виготовлення будинків виконується професіоналами з багаторічним досвідом у свіїй галузі, а наші ціни вас приємно здивують. Саме тому наші клієнти завжди залишаються задоволеними, а їхні будинки служать їм добре та дового.
        </p>
        <p class="text-justify text-default">
          !!!! Я не несу відповідальнісь за вищеописаний текст, це лише для прикладу. Всі тексти на сайті потрібно буде відкоригувати людині, яка добре розбирається в даній сфері діяльності та житті та політиці компанії.
        </p>

        <p class="text-justify text-default">
          Компанія спеціалізується в наданні наступних послуг:
        </p>
      </div>
    </div>
  </div>
</div>