<div class="block-container">
  <div class="page-block page-block-middle">
    <h3 class="text-center no-margin"></h3>
    <p class="text-justify text-default">Двері - це візитка Вашого житла. ТзОВ ”Терком” пропонує двері та вікна власного виробництва, виготовлені у відповідності з останніми європейськими тенденціями.</p>

    <div class="row">

      <div class="col-sm-6">
        <div class="service-container">

          <a href="#">
            <h4 class="service-name text-center">Двері</h4>

            <div class="service-image">
              <img
                      src="/imports/img/landing/services/doors.jpg"
                      alt="Альтанка Терком">
            </div>
          </a>

          <p class="service-desc text-justify text-default">Всі проекти нашої столярки адаптовані до українських умов. Комплексний підхід при проектуванні та виготовленні сучасних дерев'яних дверей забезпечує оптимальне поєднання основних параметрів і вимог. Це надійність, вартість, теплоізоляція і зовнішній вигляд дверей. По справжньому якісні дерев'яні двері з масиву, після установки дуже довго не втратять свого первоначальнго виду.
          </p>
          <p class="service-desc text-justify text-default no-margin">
            Широкий асортимент дверей представлений варіантами практично для всіх типів приміщень: житлових, службових, виробничих. Наші двері з дерева характеризуються оптимальним співвідношенням між ціною і якістю.
            <a href="#" class="read-more">Детальніше..</a>
          </p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="service-container">
          <a href="#">
            <h4 class="service-name text-center">Вікна</h4>
            <div class="service-image">
              <img
                      src="/imports/img/landing/services/window.jpg"
                      alt="Будинок з бруса Терком">
            </div>
          </a>
          <p class="service-desc text-justify text-default">Звернувшись до нас, Ви можете замовити вікна нестандартних розмірів і форм, доставку і встановлення, а також отримати кваліфіковану консультацію та пораду від нашого дизайнера.
          </p>
          <p class="service-desc text-justify text-default no-margin">
            Усі етапи виробництва перебувають під жорстким контролем, котрий гарантує стабільно високу якість. Дерев'яні частини вікна мають високоякісну поверхневу обробку, котра надає евровікнам необхідні властивості – брус не піддається деформації кручення, створюється непроникний теплоізоляційний бар'єр, відсутність щілин виключає можливість продувки, навіть при найсильнішому дощі вода не проникає в приміщення. <a href="#" class="read-more">Детальніше..</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
