<div class="block-container container-dark">
  <div class="page-block page-block-middle">
    <h3 class="text-center no-margin">Двері</h3>
    <hr class="head-text-delimiter">
    <a class="fancybox" href="imports/img/landing/services/doors/doors.jpg" rel="imports/img/landing/services/doors/gallery/">
      <img class="service-img-left rounded-15" src="imports/img/landing/services/doors/doors.jpg"/>
    </a>
    <p class="text-justify text-default">Наші двері з дерева характеризуються оптимальним співвідношенням між ціною і якістю. Виготовлення дверей з масиву відбувається із застосуванням найсучасніших технологій. Використовуємо дерев'яні дошки без сучків. Дбайливо зберігаються кращі якості натурального дерева, матеріал проходить спеціальну обробку, завдяки якій продовжується термін експлуатації виробів.</p>
    <p class="text-justify text-default">Всі проекти нашої столярки адаптовані до українських умов. Комплексний підхід при проектуванні та виготовленні сучасних дерев'яних дверей забезпечує оптимальне поєднання основних параметрів і вимог. Це надійність, вартість, теплоізоляція і зовнішній вигляд дверей. По справжньому якісні дерев'яні двері з масиву, після установки дуже довго не втратять свого первоначальнго виду.</p>
    <a href="#" class="btn-details">Детальніше</a>
    {{{ gallery "col-lg-1 col-md-2 col-sm-2 col-xs-4" "imports/img/landing/services/doors/gallery/" 12 }}}
  </div>
</div>
