<div class="block-container container-black">
  <div class="page-block page-block-middle">
    <h3 class="text-center no-margin">Євровікна</h3>
    <hr class="head-text-delimiter">
    <a class="fancybox" href="/imports/img/landing/services/eurowindows/window.jpg" rel="imports/img/landing/services/eurowindows/gallery/">
      <img class="service-img-left rounded-15" src="imports/img/landing/services/eurowindows/window.jpg"/>
    </a>
    <p class="text-justify text-default">Звернувшись до нас, Ви можете замовити вікна нестандартних розмірів і форм, доставку і встановлення, комплектацію подвіконниками, решітками на батареї, а також отримати кваліфіковану консультацію та пораду від нашого дизайнера.</p>
    <p class="text-justify text-default">Усі етапи виробництва перебувають під жорстким контролем, котрий гарантує стабільно високу якість. Дерев'яні євровікна виготовлені з тришарового дерев'яного брусу зі склопакетом і контурної фурнітурою. Дерев'яні частини вікна мають високоякісну поверхневу обробку, котра надає евровікнам необхідні властивості – брус не піддається деформації.</p>
    <a href="#" class="btn-details">Детальніше</a>
    {{{ gallery "imports/img/landing/services/eurowindows/gallery/" 6 }}}
  </div>
</div>
