<div class="block-container">
  <div class="page-block page-block-middle">
    <h3 class="text-center no-margin">Альтанки</h3>
    <hr class="head-text-delimiter">
    <img class="service-img-right rounded-15" src="/imports/img/landing/services/garden_houses/garden_house.jpg"/>
    <p class="text-justify text-default">Садові дерев'яні альтанки - ідеальне місце для відпочинку на ділянці. Витончена альтанка ажурно-рейкової конструкції, увита трояндами, стане улюбленим куточком для всіх, хто любить романтичне або філософське усамітнення. Альтанка з оциліндрованної колоди - прекрасний варіант для любителів барбекю і галасливих веселощів в дружній компанії. Дерев'яна альтанка у вигляді пагоди стане перлиною саду, облаштованою у східному стилі.</p>
    <a href="#" class="btn-details">Детальніше</a>
    {{{
      gallery
        "imports/img/landing/services/garden_houses/gallery/02.jpg"
        "imports/img/landing/services/garden_houses/gallery/03.jpg"
        "imports/img/landing/services/garden_houses/gallery/04.jpg"
        "imports/img/landing/services/garden_houses/gallery/05.jpg"
        "imports/img/landing/services/garden_houses/gallery/06.jpg"
        "imports/img/landing/services/garden_houses/gallery/07.jpg"
    }}}
  </div>
</div>
