<div class="block-container">
  <div class="page-block page-block-middle">
    <h3 class="text-center no-margin">Альтанки</h3>
    <hr class="head-text-delimiter">
    <a class="fancybox" href="imports/img/landing/services/garden_houses/garden_house.jpg" rel="imports/img/landing/services/garden_houses/gallery/">
      <img class="service-img-right service-garden-houses-img rounded-15" src="imports/img/landing/services/garden_houses/garden_house.jpg"/>
    </a>
    <p class="text-justify text-default">Садові дерев'яні альтанки - ідеальне місце для відпочинку на ділянці. Витончена альтанка ажурно-рейкової конструкції, увита трояндами, стане улюбленим куточком для всіх, хто любить романтичне або філософське усамітнення. Альтанка з оциліндрованної колоди - прекрасний варіант для любителів барбекю і галасливих веселощів в дружній компанії. Дерев'яна альтанка у вигляді пагоди стане перлиною саду, облаштованою у східному стилі.</p>
    <p class="text-justify text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor velit a sem aliquam semper. Proin sed tortor a nulla malesuada tincidunt id nec nisi. Praesent ante justo, gravida sed arcu ut, consectetur hendrerit tellus. Phasellus felis enim, mattis ac scelerisque nec, vestibulum semper lectus</p>
    <a href="#" class="btn-details">Детальніше</a>
    {{{ gallery "imports/img/landing/services/garden_houses/gallery/" 6 }}}
  </div>
</div>
