<div class="block-container">
  <div class="page-block page-block-middle">
    <h3 class="text-center no-margin">Дерев'яні будинки</h3>
    <hr class="head-text-delimiter">

    <div class="row">

      <div class="col-sm-6">
        <div class="service-container">

          <a href="#">
            <h4 class="service-name text-center">Будинок з клеєного бруса</h4>

            <div class="service-image">
              <img
                      src="/imports/img/landing/services/house_klej_brus.jpg"
                      alt="Будинок з бруса Терком">
            </div>
          </a>

          <p class="service-desc text-justify text-default">Справжньою революцією в дерев’яному будівництві можна назвати появу такого матеріалу, як клеєний брус. Цей матеріал - прямий результат осмислення проблем, пов’язаних з багатьма недоліками деревини. <a href="#" class="read-more">Детальніше..</a></p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="service-container">
          <a href="#">
            <h4 class="service-name text-center">Будинок з оциліндрованого бруса</h4>
            <div class="service-image">
              <img
                      src="/imports/img/landing/services/house_otsulindr_brus.jpg"
                      alt="Будинок з бруса Терком">
            </div>
          </a>
          <p class="service-desc text-justify text-default">Колода була стильною у всі часи, оскільки несла природну естетику і відчуття тепла, а чітка геометрія оциліндрованої  колоди дозволяє реалізувати і індивідуальні архітектурні рішення, прекрасно вписуючи їх у будь-яку культурне середовище. <a href="#" class="read-more">Детальніше..</a></p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-6">
        <div class="service-container">

          <a href="#">
            <h4 class="service-name text-center">Будинок з профільного бруса</h4>

            <div class="service-image">
              <img
                      src="/imports/img/landing/services/house_profil_brus.jpg"
                      alt="Будинок з бруса Терком">
            </div>
          </a>

          <p class="service-desc text-justify text-default">Природні матеріали в поєднанні з традиціями технології будівництва зрубів наших предків наділяють такі дерев'яного будинку унікальними якостями. <a href="#" class="read-more">Детальніше..</a></p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="service-container">
          <a href="#">
            <h4 class="service-name text-center">Будинок з дикого бруса</h4>
            <div class="service-image">
              <img
                      src="/imports/img/landing/services/house_wild_brus.jpg"
                      alt="Будинок з бруса Терком">
            </div>
          </a>
          <p class="service-desc text-justify text-default">Дерев’яні будинки ручної рубки - найстаріший, випробуваний спосіб будівництва дерев’яних зрубів, будинків, що дійшов до нас практично без змін. <a href="#" class="read-more">Детальніше..</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
