<div class="block-container">
  <div class="page-block page-block-middle">
    <h3 class="text-center">Наші нагороди</h3>
    <hr class="head-text-delimiter">

    <div class="row rewards-container">
      <div class="row">
        <div class="col-sm-2">
          <a class="fancybox" href="imports/img/rewards/01.jpg" title="Нагороди" rel="awards">
            <img class="img-responsive img-border-5" src="imports/img/rewards/01.jpg">
          </a>
        </div>
        <div class="col-sm-2">
          <a class="fancybox" href="imports/img/rewards/02.jpg" title="Нагороди" rel="awards">
            <img class="img-responsive img-border-5" src="imports/img/rewards/02.jpg">
          </a>
        </div>
        <div class="col-sm-2">
          <a class="fancybox" href="imports/img/rewards/03.jpg" title="Нагороди" rel="awards">
            <img class="img-responsive img-border-5" src="imports/img/rewards/03.jpg">
          </a>
        </div>
        <div class="col-sm-2">
          <a class="fancybox" href="imports/img/rewards/04.jpg" title="Нагороди" rel="awards">
            <img class="img-responsive img-border-5" src="imports/img/rewards/04.jpg">
          </a>
        </div>
        <div class="col-sm-2">
          <a class="fancybox" href="imports/img/rewards/05.jpg" title="Нагороди" rel="awards">
            <img class="img-responsive img-border-5" src="imports/img/rewards/05.jpg">
          </a>
        </div>
        <div class="col-sm-2">
          <a class="fancybox" href="imports/img/rewards/06.jpg" title="Нагороди" rel="awards">
            <img class="img-responsive img-border-5" src="imports/img/rewards/06.jpg">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <a class="fancybox" href="imports/img/rewards/09.jpg" title="Нагороди" rel="awards">
            <img class="img-responsive img-border-5" src="imports/img/rewards/09.jpg">
          </a>
        </div>
        <div class="col-sm-3">
          <a class="fancybox" href="imports/img/rewards/07.jpg" title="Нагороди" rel="awards">
            <img class="img-responsive img-border-5" src="imports/img/rewards/07.jpg">
          </a>
        </div>
        <div class="col-sm-3">
          <a class="fancybox" href="imports/img/rewards/08.jpg" title="Нагороди" rel="awards">
            <img class="img-responsive img-border-5" src="imports/img/rewards/08.jpg">
          </a>
        </div>
        <div class="col-sm-3">
          <a class="fancybox" href="imports/img/rewards/10.jpg" title="Нагороди" rel="awards">
            <img class="img-responsive img-border-5" src="imports/img/rewards/10.jpg">
          </a>
        </div>

      </div>
    </div>
    
    
    
  </div>
</div>