<div class="page-block-container">
  <div class="slider-container">
    <ul id="landing-slider">
      {{#each data.landing.slides}}
        <li>
          <div class="slider-item-wrapper">
            <div class="slider-item-container">
              <div class="col-sm-7 left-panel">
                <img class="slider-img" src="{{this.src}}">
              </div>
              <div class="col-sm-5 right-panel">
                <h2 class="slider-header">{{this.title}}</h2>
                <p class="slider-text">{{this.text}}</p>
              </div>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

