<div class="block-container container-black">
  <div class="page-block page-block-middle">
    <h3 class="text-center no-margin">Малі архітектурні форми</h3>
    <hr class="head-text-delimiter">
    <p class="text-justify text-default">Малі архітектурні форми - це чудова прикраса для вашого саду, яка радує око і налаштовує на спокійний відпочинок.
      Які ж малі архітектурні форми можна створити з дерева?
    </p>

    <div class="row">

      <div class="col-sm-6">
        <div class="service-container">

          <a href="#">
            <h4 class="service-name text-center">Альтанки</h4>

            <div class="service-image">
              <img
                      src="/imports/img/landing/services/altanka.jpg"
                      alt="Альтанка Терком">
            </div>
          </a>

          <p class="service-desc text-justify text-default">Садові дерев'яні альтанки - ідеальне місце для відпочинку на ділянці. Витончена альтанка ажурно-рейкової конструкції, увита трояндами, стане улюбленим куточком для всіх, хто любить романтичне або філософське усамітнення. Альтанка з оциліндрованної колоди - прекрасний варіант для любителів барбекю і галасливих веселощів в дружній компанії.  <a href="#" class="read-more">Детальніше..</a></p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="service-container">
          <a href="#">
            <h4 class="service-name text-center">Дитячі майданчики</h4>
            <div class="service-image">
              <img
                      src="/imports/img/landing/services/playground.jpg"
                      alt="Будинок з бруса Терком">
            </div>
          </a>
          <p class="service-desc text-justify text-default">Дитячі майданчики для ігор представляють собою невелику територію, облаштовану спеціальними конструкціями та об'єктами для веселого дитячого дозвілля, активних ігор та розвитку. Це чудове місце для активного спілкування та проведення часу всією сім'єю. Дитячі майданчики можуть бути використані на площадках біля шкіл, навчальних закладів, а також в установах готельно-ресторанного комплексу, чи в будь-яких місцях перебування людей з дітьми. <a href="#" class="read-more">Детальніше..</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
