<div id="page-preloader">
  <div class="spinner"></div>
</div>
<header class="page-header {{class}}">
  <a href="{{data.header.home}}">
    <div class="company-logo">
      <img class="logo-img" src="{{data.header.logo}}" alt="Logo of Company">
      <div class="logo-text">{{data.header.company}}</div>
    </div>
  </a>
  <div class="menu">
    {{> common/header/menu}}
  </div>
  <span class="burger-btn" onclick="openNav()">&#9776;</span>
  <div id="sidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {{> common/header/menu isSideMenu="side" }}
  </div>
  <div class="language-selector">
    <a><p>UA</p></a>
    <hr>
    <a><p>EN</p></a>
  </div>
</header>

<script src="/imports/js/sidenav.js"></script>
<script src="/imports/lib/jquery-3.1.1/jquery-3.1.1.min.js"></script>
<script src="/imports/js/set_menu_item_selected.js"></script>
<script src="/imports/js/set_lang.js"></script>
<script src="/imports/js/set_header_dark.js"></script>