<div class="block-container container-dark">
  <div class="page-block page-block-middle">
    <div class="row galary-row">
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/laminated/01.jpg" title="Будинок з клеєного бруса" rel="laminated">
          <img class="img-responsive rounded-5" src="/imports/img/houses/laminated/01.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/laminated/02.jpg" title="Будинок з клеєного бруса" rel="laminated">
          <img class="img-responsive rounded-5" src="/imports/img/houses/laminated/02.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/laminated/03.jpg" title="Будинок з клеєного бруса" rel="laminated">
          <img class="img-responsive rounded-5" src="/imports/img/houses/laminated/03.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/laminated/04.jpg" title="Будинок з клеєного бруса" rel="laminated">
          <img class="img-responsive rounded-5" src="/imports/img/houses/laminated/04.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/laminated/05.jpg" title="Будинок з клеєного бруса" rel="laminated">
          <img class="img-responsive rounded-5" src="/imports/img/houses/laminated/05.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/laminated/06.jpg" title="Будинок з клеєного бруса" rel="laminated">
          <img class="img-responsive rounded-5" src="/imports/img/houses/laminated/06.jpg">
        </a>
      </div>
    </div>
    <div class="row galary-row">
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/laminated/07.jpg" title="Будинок з клеєного бруса" rel="laminated">
          <img class="img-responsive rounded-5" src="/imports/img/houses/laminated/07.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/laminated/08.jpg" title="Будинок з клеєного бруса" rel="laminated">
          <img class="img-responsive rounded-5" src="/imports/img/houses/laminated/08.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/laminated/09.jpg" title="Будинок з клеєного бруса" rel="laminated">
          <img class="img-responsive rounded-5" src="/imports/img/houses/laminated/09.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/laminated/10.jpg" title="Будинок з клеєного бруса" rel="laminated">
          <img class="img-responsive rounded-5" src="/imports/img/houses/laminated/10.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/laminated/11.jpg" title="Будинок з клеєного бруса" rel="laminated">
          <img class="img-responsive rounded-5" src="/imports/img/houses/laminated/11.jpg">
        </a>
      </div>
      <div class="col-sm-2">
        <a class="fancybox" href="/imports/img/houses/laminated/12.jpg" title="Будинок з клеєного бруса" rel="laminated">
          <img class="img-responsive rounded-5" src="/imports/img/houses/laminated/12.jpg">
        </a>
      </div>
    </div>
  </div>
</div>